<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   launch_item.plist
   Buildasaur

   Created by Honza Dvorsky on 10/14/15.
   Copyright (c) 2015 Honza Dvorsky. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.honzadvorsky.Buildasaur</string>
        <key>ProgramArguments</key>
        <array>
            <string>LAUNCH_PATH_PLACEHOLDER</string>
        </array>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>

